<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .persons tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .persons td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Books:</h3>

<table class="persons">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:object="${book}">
        <td th:text="*{id}">1</td>
        <td th:text="*{title}">My Book</td>
        <td th:text="*{author.fullName}">Author FIO</td>
        <td th:text="*{genre.name}">Genre</td>
        <td>
            <table>
                <tr th:each="comment : ${book.comments}" th:object="${comment}">
                    <td th:text="*{fullComment}"></td>
                </tr>
            </table>
        </td>
        <td>
            <a href="editBook.html" th:href="@{/edit(id=${book.id})}">Edit</a>
        </td>
        <td>
            <a href="deleteBook.html" th:href="@{/delete(id=${book.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<form id="add-book-page" action="list.html" th:action="@{/create}">
    <div class="row">
        <button type="submit">CreateBook</button>
    </div>
</form>
</body>
</html>
