<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script>
        function deleteBook() {
            const id = document.getElementById("id-input").value
            fetch(`/api/v1/book/${id}`,
                {method: "DELETE",headers: {"Content-Type": "application/json",},})
                .then((response) => {if (response.ok) {alert("Book deleted successfully");
                        window.location.href = "/";
                    } else {alert("Error deleting book");}
                })
                .catch((error) => {alert("Error deleting book");
                    console.error(error);
                });
        }
    </script>
</head>
<body>

<form id="delete-form" th:object="${book}">
    <h3>Book Info:</h3>
    <input type="hidden" name="authorId" th:value="${book.author.id}"/>
    <input type="hidden" name="genreId" th:value="${book.genre.id}"/>
    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" readonly="readonly" value="Title 1" th:value="*{title}"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <input id="book-author-input" name="authorId" type="text" readonly="readonly" value="Author 1" th:value="*{author.fullName}"/>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <input id="book-genre-input" name="genreId" type="text" readonly="readonly" value="Genre 1" th:value="*{genre.name}"/>
    </div>

    <div class="row">
        <button type="button" onclick="deleteBook()" >Delete</button>
        <a href="books.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
